/* CSS for the patient notes table */
.patient-notes-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.patient-notes-table th,
.patient-notes-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.patient-notes-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.patient-notes-table tr:hover {
  background-color: #f5f5f5;
}

.patient-notes-table .edit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.patient-notes-table .edit-button:hover {
  background-color: #0056b3;
}
/* Style for the main display */
.main-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0073e6;
  color: #fff;
  padding: 10px 20px;
}

/* Style for the navigation links on the top left */
.custom-nav {
  display: flex; /* Display the nav items horizontally */
  align-items: center;
}

/* Style for the navigation links on the top left */
.custom-nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Display list items horizontally */
}

.custom-nav-links li {
  margin-right: 20px; /* Add right margin for spacing */
}

.custom-nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.custom-nav-links a:hover {
  color: #0056b3;
}

/* Style for the logout button on the top right */
.logout-button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}

.logout-button:hover {
  color: #0056b3;
}


.centered {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Adjust as needed to center vertically within the viewport */
}
